@model DTO.KullaniciCvDTO
@{
    ViewBag.Title = "KullaniciCvDetay";
    Layout = "~/Areas/Admin/Views/Shared/_IsverenLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Kariyerim.NET</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="~/Areas/Admin/Content/Css/CvOlustur.css" rel="stylesheet" />


</head>
<body>
    <br />

    <form>

        @if (Model.Resim != null)
        {
            <img src="@Model.Resim" class="rounded mx-auto d-block" align="left" style="height: 200px; width: 200px;" />
        }

        else
        {
            <b>Resim bilgisi yok..</b>
        }


        <br>
        <br />

        <br />
        <br />
        <br />

        <br />
        <br />
        <br />

        <div class="mt-3">
            <div class="input-group-prepend" cols="200">
                <span class="input-group-text">Ad</span>
                <div>
                    @Html.EditorFor(model => Model.Ad, new { htmlAttributes = new { @class = "form-control", @id = "SirketIsmi", @disabled = "disabled" } })
                </div>
            </div>

        </div>

        <div class="mt-3">
            <div class="input-group-prepend" cols="200">
                <span class="input-group-text">Soyad</span>
                <div>
                    @Html.EditorFor(model => Model.Soyad, new { htmlAttributes = new { @class = "form-control", @id = "SirketIsmi", @disabled = "disabled" } })
                </div>
            </div>

        </div>

        <div class="mt-3">
            <div class="input-group-prepend" cols="200">
                <span class="input-group-text">Açıklama</span>
            </div>
            <div>
                @Html.EditorFor(model => Model.Onyazi, new { htmlAttributes = new { @class = "form-control", @cols = 108, @rows = 3, @disabled = "disabled" } })

            </div>
        </div>
        <div class="mt-3">
            <div class="input-group-prepend" cols="200">
                <span class="input-group-text">Adres</span>
            </div>
            <div>
                @Html.EditorFor(model => Model.Adres, new { htmlAttributes = new { @class = "form-control", @cols = 108, @rows = 3, @disabled = "disabled" } })

            </div>
        </div>



        <div class="mt-3">
            <div class="input-group-prepend" cols="200">
                <span class="input-group-text">Email</span>
            </div>
            <div>
                @Html.EditorFor(model => Model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required", @disabled = "disabled" } })

            </div>
        </div>



        <div class="mt-3">
            <div class="input-group-prepend" cols="200">
                <span class="input-group-text">İl</span>

                @Html.EditorFor(model => Model.il, new { htmlAttributes = new { @class = "form-control", @id = "il", @disabled = "disabled" } })

            </div>
        </div>
        <div class="mt-3">
            <div class="input-group-prepend" cols="200">
                <span class="input-group-text">İlçe</span>

                @Html.EditorFor(model => Model.ilce, new { htmlAttributes = new { @class = "form-control", @id = "ilce", @disabled = "disabled" } })

            </div>
        </div>
        <div class="mt-3">
            <div class="input-group-prepend" cols="200">
                <span class="input-group-text">Beklenen Ucret</span>

                @Html.EditorFor(model => Model.BeklenenUcret, new { htmlAttributes = new { @class = "form-control", @id = "sektor", @disabled = "disabled" } })

            </div>
        </div>
        <div class="mt-3">
            <div id="secenekler">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="soruTipi">Calisilan Kurumlar</label>
                </div>
                <p>
                    @if (Model.YerSecenek != null && Model.YerDegiskeni != null)
                    {
                        var calisilanyerler = Model.YerSecenek.Zip(Model.YerDegiskeni, (n, w) => new { YS = n, YD = w });
                        foreach (var nw in Model.YerSecenek.Zip(Model.YerDegiskeni, Tuple.Create))
                        {
                            <br />
                            @Html.EditorFor(model => nw.Item1, new { htmlAttributes = new { @class = "form-control", @rows = 1, @style = "width:10%", @disabled = "disabled" } })

                            @Html.EditorFor(model => nw.Item2, new { htmlAttributes = new { @class = "form-control", @rows = 4, @style = "width:100%", @disabled = "disabled" } })

                        }
                    }

            </div>
        </div>
    </form>

</body>
</html>
